<!DOCTYPE html>
<html>
  <head>
    <title>COMVEC | comites</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!--Toast-->
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
    <link
      rel="shortcut icon"
      th:href="@{/imagenes/trabajo-en-equipo.ico}"
      type="image/x-icon"
    />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row mb-5">
        <div
          class="col-12"
          style="padding-left: 0px; padding-right: 0px"
          th:insert="~{fragments/header :: header}"
        ></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card mt-5">
            <div class="card-header">
              <div class="row">
                <div class="col h4">Incidencias por comité</div>
                <div class="col text-right"></div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div
                    th:if="${#lists.isEmpty(colonias)}"
                    style="margin-top: 2rem !important"
                  >
                    <span>Sin colonias disponibles</span>
                  </div>
                  <div th:if="${!#lists.isEmpty(colonias)}">
                    <form th:action="@{/incidencia-comite/}" method="post">
                      <div class="form-row">
                        <label class="font-weight-bold" for="coloniaId"
                          >Colonia</label
                        >
                        <select
                          name="coloniaId"
                          id="coloniaId"
                          onchange="this.form.submit()"
                          class="custom-select"
                          th:attr="data-coloniaid=${coloniaId}"
                        >
                          <option value="">Seleccionar...</option>
                          <option
                            th:each="colonia: ${colonias}"
                            th:selected="${colonia.id == coloniaId}"
                            th:value="${colonia.id}"
                            th:text="${colonia.nombre}"
                          ></option>
                        </select>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col">
                  <div
                    th:if="${#lists.isEmpty(comites)}"
                    style="margin-top: 2rem !important"
                  >
                    <span>Sin comites disponibles</span>
                  </div>
                  <div th:if="${!#lists.isEmpty(comites)}">
                    <form th:action="@{/incidencia-comite/}" method="post">
                      <input
                        type="hidden"
                        name="coloniaId"
                        th:value="${coloniaId}"
                      />
                      <div class="form-row">
                        <label class="font-weight-bold" for="coloniaId"
                          >Comité</label
                        >
                        <select
                          name="comiteId"
                          id="comiteId"
                          onchange="this.form.submit()"
                          class="custom-select"
                          th:attr="data-comiteid=${comiteId}"
                        >
                          <option value="">Seleccionar...</option>
                          <option
                            th:each="comite: ${comites}"
                            th:selected="${comite.id == comiteId}"
                            th:value="${comite.id}"
                            th:text="${comite.nombreComite}"
                          ></option>
                        </select>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Fecha de registro</th>
                          <th scope="col">Categoría</th>
                          <th scope="col">Atención</th>
                          <th scope="col">Estado</th>
                          <th scope="col">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:if="${#lists.isEmpty(incidencias)}">
                          <td colspan="7">Sin incidencias registradas.</td>
                        </tr>
                        <tr th:each="incidence: ${incidencias}">
                          <td th:text="${incidenceStat.index + 1}"></td>
                          <td th:text="${incidence.nombre}"></td>
                          <td
                            th:text="${#dates.format(incidence.fechaRegistro,'dd-MM-yyyy')}"
                          ></td>
                          <td th:text="${incidence.categoria.nombre}"></td>
                          <td th:switch="${incidence.status}">
                            <span th:case="1" class="badge badge-light"
                              >Pendiente</span
                            >
                            <span th:case="2" class="badge badge-secondary"
                              >Cancelada</span
                            >
                            <span th:case="3" class="badge badge-info"
                              >Canalizada</span
                            >
                            <span th:case="4" class="badge badge-primary"
                              >Atendida</span
                            >
                          </td>
                          <td th:switch="${incidence.habilitado}">
                            <span th:case="true" class="badge badge-success"
                              >Activo</span
                            >
                            <span th:case="false" class="badge badge-danger"
                              >Inactivo</span
                            >
                          </td>
                          <td>
                            <span
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Ver detalles"
                            >
                              <button
                                class="btn btn-info btn-sm btn-detalles"
                                data-toggle="modal"
                                data-target="#detallesIncidencia"
                                th:attr="data-id=${incidence.id},data-nombre=${incidence.nombre},
                            data-descripcion=${incidence.descripcion},data-category=${incidence.categoria.nombre},
                                  data-status=${incidence.status},data-habilitado=${incidence.habilitado},
                                  data-fecha=${incidence.fechaRegistro}"
                              >
                                <ion-icon
                                  name="search-outline"
                                  size="small"
                                ></ion-icon>
                              </button>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="detallesIncidencia"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        data-backdrop="static"
        data-keyboard="false"
      >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Detalles incidencia
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul
                class="nav nav-tabs nav-pills nav-fill"
                id="myTab"
                role="tablist"
              >
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="home-tab"
                    data-toggle="tab"
                    href="#home"
                    role="tab"
                    aria-controls="home"
                    aria-selected="true"
                    >Detalles</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="profile-tab"
                    data-toggle="tab"
                    href="#profile"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false"
                    >Comentarios</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="contact-tab"
                    data-toggle="tab"
                    href="#contact"
                    role="tab"
                    aria-controls="contact"
                    aria-selected="false"
                    >Anexos</a
                  >
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="home"
                  role="tabpanel"
                  aria-labelledby="home-tab"
                >
                  <div class="form-group mt-5">
                    <div class="form-row">
                      <div class="col-md-3 mb-3">
                        <label class="font-weight-bold" for="nombre"
                          >Nombre</label
                        >
                        <p id="dtNombre"></p>
                      </div>
                      <div class="col-md-2 mb-3">
                        <label class="font-weight-bold" for="categoria"
                          >Categoría</label
                        >
                        <p id="dtCategory"></p>
                      </div>
                      <div class="col-md-2 mb-3">
                        <label class="font-weight-bold">Estado</label>
                        <div id="dtHabilitado"></div>
                      </div>
                      <div class="col-md-2 mb-3">
                        <label class="font-weight-bold">Atención</label>
                        <div id="dtStatus"></div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label class="font-weight-bold">Registro</label>
                        <div id="dtFecha"></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label class="font-weight-bold" for="description"
                          >Descripción</label
                        >
                        <p id="dtDescripcion"></p>
                      </div>
                    </div>
                    <form
                      method="post"
                      class="needs-validation"
                      novalidate
                      id="atenttionForm"
                    >
                      <div class="form-row">
                        <div class="col-4 mb-3">
                          <label class="font-weight-bold" for="changeAttention"
                            >Atención</label
                          >
                          <select
                            name="changeAttention"
                            id="changeAttention"
                            class="custom-select"
                            required
                          >
                            <option value="" selected>Seleccionar...</option>
                            <option value="4">Atendida</option>
                            <option value="3">Canalizada</option>
                            <option value="2">Cancelada</option>
                          </select>
                          <div class="invalid-feedback">Campo obligatorio</div>
                        </div>
                        <div class="col-4" id="pay"></div>
                        <div class="col-4" id="cost"></div>
                      </div>
                      <div class="form-row">
                        <div class="col-12 text-right">
                          <button
                            id="btn-attention"
                            type="button"
                            class="btn btn-warning"
                          >
                            <ion-icon
                              name="checkmark"
                              style="font-size: 20px"
                            ></ion-icon>
                            Actualizar
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="profile"
                  role="tabpanel"
                  aria-labelledby="profile-tab"
                >
                  <div class="form-row">
                    <div class="col-md-12 mb-3 mt-4">
                      <label class="font-weight-bold" for="comments"
                        >Comentarios extras</label
                      >
                      <div
                        class="border-top border-bottom mt-1"
                        style="height: 250px; overflow-y: scroll"
                        id="dtComentarios"
                      ></div>
                      <form
                        class="needs-validation"
                        novalidate
                        method="post"
                        id="newComment"
                      >
                        <div class="form-row mt-1">
                          <div class="col-12 mb-3">
                            <label for="addComment" class="font-weight-bold"
                              >Agregar comentario</label
                            >
                            <textarea
                              class="form-control"
                              name="addComment"
                              id="addComment"
                              rows="2"
                              required
                              maxlength="145"
                              minlength="2"
                            ></textarea>
                            <input type="hidden" id="incidenciaFormField" />
                            <div class="invalid-feedback">
                              Campo obligatorio
                            </div>
                            <input type="number" hidden id="usuarioEscribe" />
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-12 text-right">
                            <button
                              type="button"
                              class="btn btn-success btn-comment"
                            >
                              <ion-icon
                                name="checkmark"
                                style="font-size: 20px"
                              ></ion-icon>
                              Agregar
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="contact"
                  role="tabpanel"
                  aria-labelledby="contact-tab"
                >
                  <div class="form-row">
                    <div class="col-md-12 mb-3 mt-4">
                      <label class="font-weight-bold" for="files">Anexos</label>
                      <div id="dtAnexos" class="row mt-1"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger" data-dismiss="modal">
                <ion-icon name="close" style="font-size: 20px"></ion-icon>
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </div>

      <form
        th:action="@{/incidencia-comite/habilitado}"
        method="POST"
        id="cambiarEstadoForm"
      >
        <input type="hidden" id="comiteEstadoField" name="comite" />
      </form>
    </div>

    <!--Ionicons-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <!--Toast-->
    <script th:src="@{/js/toast.min.js}"></script>

    <script th:if="${msg_success != null}">
      new Toast({
        timer: 2000,
        message: "[[${msg_success}]]",
        type: "success",
      });
    </script>

    <script th:if="${msg_error != null}">
      new Toast({
        message: "[[${msg_error}]]",
        type: "danger",
      });
    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script th:inline="javascript">
      const user = /*[[${session.user}]]*/ "default";
      $(document).ready(function () {
        $(".btn-habilitar").on("click", function () {
          let id = $(this).data("id");
          $("#comiteEstadoField").val(id);
          $("#cambiarEstadoForm").submit();
        });
        $(".btn-editar").on("click", function () {
          let id = $(this).data("id");
          let nombre = $(this).data("nombre");
          let status = $(this).data("status");
          $("#edId").val(id);
          $("#edNombre").val(nombre);
          $("#status").val(status);
        });

        $(".btn-detalles").on("click", function () {
          let id = $(this).data("id");
          let nombre = $(this).data("nombre");
          let category = $(this).data("category");
          let desc = $(this).data("descripcion");
          let fecha = $(this).data("fecha");
          let status = $(this).data("status");
          let habilitado = $(this).data("habilitado");
          $("#incidenciaFormField").val(id);
          $("#dtNombre").text(nombre);
          $("#dtDescripcion").text(desc);
          $("#dtCategory").text(category);
          $("#dtFecha").text(fecha);
          $("#dtHabilitado").html(
            habilitado
              ? `<span th:case="true" class="badge badge-success">Activo</span>`
              : `<span th:case="true" class="badge badge-success">Inactivo</span>`
          );
          let statusBadge = ``;
          $("#dtStatus").html("");
          $("#atenttionForm").addClass("d-none");
          $("#newComment").addClass("d-none");
          switch (status) {
            case 1:
              $("#atenttionForm").removeClass("d-none");
              $("#newComment").removeClass("d-none");
              statusBadge = `<span class="badge badge-light">Pendiente</span>`;
              break;
            case 2:
              statusBadge = `<span class="badge badge-secondary">Cancelada</span>`;
              break;
            case 3:
              statusBadge = `<span class="badge badge-info">Canalizada</span>`;
              break;
            case 4:
              statusBadge = `<span class="badge badge-primary">Atendida</span>`;
              break;
          }
          $("#dtStatus").html(statusBadge);
          let anexosCards = "";
          let commentsCards = "";

          fetch(`http://localhost:8080/president/list/comxos/${id}`)
            .then((response) => response.json())
            .then((data) => {
              data?.anexos.map((item) => {
                let selectImgPdf = item?.evidencia.includes(".pdf")
                  ? `<iframe src="http://localhost:8080/resource/${item.evidencia}"></iframe><p>${item.evidencia}</p>`
                  : `<img style="width:250px;height:auto" src="http://localhost:8080/resource/${item.evidencia}" alt="${item.evidencia}" class="img-thumbnail"><p>${item.evidencia}</p>`;
                anexosCards += `
                      <div class="col">
                        ${selectImgPdf}
                      </div>
                      `;
              });
              $("#dtComentarios").html("");
              if (data.comments.length > 0) {
                data?.comments.map(async (item) => {
                  await fetch(
                    `http://localhost:8080/incidencia-comite/persona-comenta/${item.personaMensaje}`
                  )
                    .then((response) => response.json())
                    .then((responseData) => {
                      let data = responseData.person;
                      if (user === data.correo) {
                        $("#usuarioEscribe").val(item.personaMensaje);
                      }
                      commentsCards = `
                      <div class="card m-2  ${
                        user === data.correo
                          ? "border-info"
                          : "border-secondary"
                      }" id="${item.id}">
                        <div class="card-body ${
                          user === data.correo
                            ? " text-right border-info"
                            : "border-secondary"
                        }">
                          <p>${item.comentario}</p>
                          <small class="text-muted">${formatDate(
                            new Date(item.fechaRegistro)
                          )} - ${data.person.nombre} ${data.person.apellido1} ${
                        data.person.apellido2
                      } ${user === data.correo ? "(Tú)" : ""}</small>
                        </div>
                      </div>`;
                      $("#dtComentarios").append(commentsCards);
                    });
                });
              } else {
                $("#dtComentarios").html(
                  `<div>Sin comentarios registrados.</div>`
                );
              }
              $("#dtAnexos").html("");
              $("#dtAnexos").html(
                anexosCards || `<div class="col">Sin anexos registrados.</div>`
              );
            });
        });
        $(".modal").on("hidden.bs.modal", function (e) {
          $("#home-tab").click();
        });
        $('[data-toggle="tooltip"]').tooltip();

        $(".btn-comment").on("click", function (event) {
          event.preventDefault();
          event.stopPropagation();
          if (document.getElementById("newComment").checkValidity()) {
            let commentBody = {
              personaMensaje: user,
              fechaRegistro: new Date().toISOString().split("T")[0],
              comentario: $("#addComment").val(),
              idIncidencia: parseInt($("#incidenciaFormField").val()),
            };
            fetch(`http://localhost:8080/incidencia-comite/save-comentario`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(commentBody),
            })
              .then((response) => response.json())
              .then((data) => {
                const { comentario, person } = data;
                let commentReceived = `
                      <div class="card m-2 border-info">
                        <div class="card-body text-right border-info">
                          <p>${commentBody.comentario}</p>
                          <small class="text-muted">${formatDate(
                            new Date(commentBody.fechaRegistro)
                          )} - ${person.person.nombre} ${
                  person.person.apellido1
                } ${person.person.apellido2} (Tú)</small>
                        </div>
                      </div>`;
                $("#dtComentarios").append(commentReceived);
                $("#addComment").val("");
                $("#newComment").removeClass("was-validated");
              });
          }
          $("#newComment").addClass("was-validated");
        });
        $("#changeAttention").on("change", function (event) {
          let attention = $(this).find(":selected").val();
          let text = $(this).find(":selected").text();
          if (attention === "3" && text === "Canalizada") {
            $("#pay").html(`<label class="font-weight-bold" for="pago"
                            >¿Debe realizar algún pago?</label
                          >
                          <select name="pago" id="pago" class="custom-select" required>
                            <option value="" selected>Seleccionar...</option>
                            <option value="1">Sí</option>
                            <option value="2">No</option>
                          </select>
                          <div class="invalid-feedback">Campo obligatorio</div>`);
          } else {
            $("#pay").html("");
          }
        });
        $("#pay").on("change", function (event) {
          let attention = $(this).find(":selected").val();
          let text = $(this).find(":selected").text();
          if (attention === "1" && text === "Sí") {
            $("#cost").html(`<label class="font-weight-bold" for="pago"
                            >Costo</label
                          >
                          <input
                            class="form-control"
                            type="text"
                            required
                            placeholder="1502.56"
                            minlength="1"
                            id="costoIncidencia"
                            pattern="^(-?)(0|([1-9][0-9]*))(\.[0-9]{1,2})?$"
                          />
                          <div class="invalid-feedback" id="validityRequired">Campo obligatorio</div>
                          <div class="invalid-feedback" id="validityFloat">Ingrese un número decimal (N.##)</div>`);
          } else {
            $("#cost").html("");
          }
        });
        const constraint = new RegExp(
          "^(-?)(0|([1-9][0-9]*))(\.[0-9]{1,2})?$",
          ""
        );
        $("#costoIncidencia").on("change", function () {
          if (constraint.test($(this).val())) {
            $("#validityFloat").removeClass("d-none");
          } else {
            $("#validityFloat").addClass("d-none");
          }
        });
        $("#btn-attention").on("click", function (event) {
          $("#atenttionForm").addClass("was-validated");
          event.preventDefault();
          event.stopPropagation();
          if (document.getElementById("atenttionForm").checkValidity()) {
            let incidenciaBody = {
              id: $("#incidenciaFormField").val(),
              status: $("#changeAttention").val(),
              costo: parseFloat($("#costoIncidencia").val()) || -1,
              pago: false,
            };
            fetch(
              `http://localhost:8080/incidencia-comite/cambiar-atencion-incidencia`,
              {
                method: "POST",
                body: JSON.stringify(incidenciaBody),
                credentials: "same-origin",
                headers: {
                  "Content-Type": "application/json",
                },
              }
            )
              .then((response) => response.json())
              .then((data) => {
                if (data.error) {
                  new Toast({
                    timer: 2000,
                    message: "Ocurrio un error",
                    type: "error",
                  });
                } else {
                  new Toast({
                    timer: 2000,
                    message: "Se ha cambiado la atención de la incidencia.",
                    type: "success",
                  });
                  $("#detallesIncidencia").modal("hide");
                  setTimeout(() => {
                    window.location.reload();
                  }, 2000);
                }
              });
          }
        });
      });

      function padTo2Digits(num) {
        return num.toString().padStart(2, "0");
      }

      function formatDate(date) {
        return [
          padTo2Digits(date.getDate()),
          padTo2Digits(date.getMonth() + 1),
          date.getFullYear(),
        ].join("-");
      }
    </script>
  </body>
</html>
