<!DOCTYPE html>
<html>

<head>
	<title>COMVEC | Enlaces</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!--Toast-->
	<link rel="stylesheet" th:href="@{/css/toast.min.css}" />
</head>

<body>
	<div class="container-fluid">
		<div th:insert="~{fragments/header :: header}"></div>

		<div class="row" style="margin-top:70px">

			<div class="col-12">
				<div class="card mt-5">
					<div class="card-header">
						<div class="row">
							<div class="col h4">Usuarios</div>
							<div class="col text-right">

							</div>
						</div>
					</div>
					
					<div class="card-body">
						<div class="row">
							<div class="col">
								Listado
								<span id="texto"></span>
							</div>
							<div class="col text-right">Buscar</div>
						</div>
						<div class="row mt-4">
							<div class="col">
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">#</th>
												<th scope="col">Fotografía</th>
												<th scope="col">Nombre Completo</th>
												<th scope="col">No. Empledado</th>
												<th scope="col">Telefono</th>
												<th scope="col">Correo</th>
												<th scope="col">Municipio</th>
												<th scope="col">Status</th>
												<th scope="col">Acciones</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="usuario:${listaEnlaces}">
												<td>[[${usuarioStat.index +1}]]</td>
												<td>Fotografía</td>
												<td>[[${usuario.person.nombre}+' '+${usuario.person.apellido1}+'
													'+${usuario.person.apellido2}]]</td>
												<td>[[${usuario.numeroEmpleado}]]</td>
												<td>[[${usuario.person.telefono}]]</td>
												<td>[[${usuario.correo}]]</td>
												<td th:text="${usuario.municipio} ? ${usuario.municipio.nombre} : ''">
												</td>
												<td th:switch="${usuario.habilitado}">
													<span th:case="true" class="badge badge-success">Activo</span>
													<span th:case="false" class="badge badge-danger">Inactivo</span>
												</td>
												<td>
													<form th:action="@{/administrador/usuario/habilitacion}"
														method="POST">
														<input type="hidden" name="userId" th:value="${usuario.id}" />
														<div th:if="${usuario.habilitado}"> 
															<button class="btn btn-danger">
																<ion-icon name="trash-outline" size="small"></ion-icon>
																</ion-icon>
															</button>
														</div>
														<div th:unless="${usuario.habilitado}"> 
															<button class="btn btn-success">
																<ion-icon name="refresh-outline" size="small">
																</ion-icon>
															</button>
														</div>

													</form>
													<!--<button class="btn btn-warning btn-sm btn-editar"
														data-toggle="modal" data-target="#editarIncidencia"
														th:attr="data-id=${usuario.id},data-habilitado=${usuario.habilitado}">
														<ion-icon name="create-outline" size="small"></ion-icon>
													</button>
													<a class="btn btn-danger btn-sm"
														th:href="@{/administrador/usuario/eliminar/{id} (id=${usuario.id})}">
														<ion-icon name="trash-outline" size="small"></ion-icon>
													</a>-->
												</td>
											</tr>
										</tbody>
									</table>
									<!--<nav th:if="${listaUsuarios.totalPages > 0}" aria-label="Page navigation example">
										<ul class="pagination justify-content-center">
											<li class="page-item"
												th:classappend="${listaUsuarios.number == 0 ? 'disabled' : ''}">
												<a th:href="@{/administrador/usuario/(page=${listaUsuarios.number - 1})}"
													class="page-link">Anterior</a>
											</li>

											<li class="page-item"
												th:classappend="${i eq listaUsuarios.number + 1} ? 'active'"
												th:each="i : ${#numbers.sequence( 1, listaUsuarios.totalPages, 1)}">
												<a class="page-link"
													th:href="@{/administrador/usuario/?page={tmpPag} (tmpPag=${i-1}) }"
													th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
											</li>
											<li class="page-item"
												th:classappend="${listaUsuarios.number == (listaUsuarios.totalPages - 1) ? 'disabled' : ''}">
												<a th:href="@{/administrador/usuario/(page=${listaUsuarios.number + 1})}"
													class="page-link">Siguiente</a>
											</li>
										</ul>
									</nav>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Ionicons-->
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

	<!--Toast-->
	<script th:src="@{/js/toast.min.js}"></script>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>